@import url('https://fonts.googleapis.com/css2?family=Genos');

/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: #000; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background-color: #000;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*==========================================*/

/* FOOTER */

/*==========================================*/

.ulist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-color {
  background: #000000;
}
.main-footer {
  position: relative;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #0a0a0aea;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid #ffffff20;
  z-index: 99;
  color: #fafafa;
  font-family: 'Genos';
  padding: 10px;
}

.footer-content {
  /* position: relative; */
  padding: 85px 0px 80px 0px;
}
.footer-content:before {
  position: absolute;
  content: '';
  background: url(https://i.ibb.co/jyRLrBZ/world-map.png);
  opacity: 0.4;
  width: 975px;
  height: 475px;
  top: 50px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: float-bob;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
.footer-content .logo-widget {
  position: relative;
  margin-top: -5px;
}

.footer-content .logo-widget .footer-social {
  margin-left: 68px;
}
@media only screen and (max-width: 600px) {
  .footer-content .logo-widget .footer-social {
    margin-left: 13%;
  }
}
.footer-content .logo-widget .footer-social li {
  position: relative;
  display: inline-block;
  margin-right: 9px;
}
.footer-content .logo-widget .footer-social li:last-child {
  margin-right: 40px;
}
.footer-content .logo-widget .footer-social li a {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  /* background: #000000; */
  color: #9ea0a9;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 25px;
}

.footer-content .logo-widget .footer-social li a:hover {
  color: #ffffff;
  background: #7300cbc2;
}
.footer-content .logo-widget .logo-box {
  margin-bottom: 25px;
  margin-left: 40px !important;
}
.footer-content .logo-widget .text p {
  color: #ffffff;
  margin-bottom: 32px;
  text-align: justify;
  font-size: 0.9em;
}

.footer-content .footer-title {
  position: relative;
  font-size: 35px;
  line-height: 35px;
  /* font-family: "Playfair Display", serif; */
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 27px;
}
.footer-content .service-widget .list li {
  display: block;
  margin-bottom: 12px;
}
.footer-content .service-widget .list li a {
  position: relative;
  display: inline-block;
  color: #9ea0a9;
}
.footer-content .service-widget .list li a:hover {
  color: #00cb9a;
}
.footer-content .contact-widget p {
  color: #ffffff;
  margin-bottom: 15px;
}
.footer-content .contact-widget {
  margin-left: 0px;
}
.footer-content .contact-widget .footer-title {
  margin-bottom: 29px;
}
.textFooter {
  font-size: 1.5rem;
  z-index: 999;
  color: #fff;
  opacity: 0.9;
}

.footer-bottom {
  position: relative;
  background: #13151a;
  padding: 25px 0px 22px 0px;
}
.footer-bottom .copyright,
.footer-bottom .copyright a,
.footer-bottom .footer-nav li a {
  position: relative;
  color: #9ea0a9;
  text-align: center;
}
.footer-bottom .copyright a:hover,
.footer-bottom .footer-nav li a:hover {
  color: #00cb9a;
}
.footer-bottom .footer-nav {
  position: relative;
  text-align: center;
}
.logo-box img {
  max-width: 220px;
}

@media only screen and (max-width: 600px) {
  .footer-content .row {
    text-align: center;
  }
  .footer-content .logo-widget .text p {
    color: #ffffff;
    margin-bottom: 32px;
    text-align: center;
    font-size: 1em;
  }
}

/*==========================================*/

/* SPONSORS */

/*==========================================*/

.sponsors {
  padding: 75px 0;
  background: rgb(0, 0, 0);
  color: white;
  font-family: 'Genos';
}
.section-header {
  font-size: 6rem;
  /* background: transparent; */
  margin: 0 auto;
  padding: 0 3rem 3rem 0rem;
  color: #fafafa;
}
@media only screen and (max-width: 600px) {
  .section-header {
    font-size: 4.5rem;
    padding: 0 0 0 2rem;
  }
}
.sponsors h2 {
  margin-bottom: 50px;
}

.sponsors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.sponsors-list a {
  margin: 0 30px 30px;
  height: 135px;
}

@media only screen and (max-width: 980px) {
  .sponsors-list a {
    margin: 0 15px;
  }
}

.sponsors-list a img {
  padding: 20px 0;
  height: 100%;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.sponsors-list a:hover img {
  opacity: 0.55;
}

.more {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cap-logo {
  width: 500px !important;
  height: auto !important;
}
@media only screen and (max-width: 500px) {
  .cap-logo {
    width: 350px !important;
    height: auto;
  }
}

/*==========================================*/

/* COUNTDOWN */

/*==========================================*/

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  font-family: 'Genos';
}

.countdown-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  /* background-color: #000000; */
  border-radius: 5px;
}

.countdown-timer h1 {
  font-size: 6rem;
  margin: 0;
}

.countdown-timer p {
  font-size: 1.5rem;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .countdown-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    /* background-color: #000000; */
    border-radius: 5px;
  }
  .countdown-timer h1 {
    font-size: 4rem;
    margin: 0;
  }

  .countdown-timer p {
    font-size: 1rem;
    margin: 0;
  }
}

/*==========================================*/

/* NAVBAR */

/*==========================================*/
.nav {
  /* display: flex; */
  /* flex-direction: row; */
  margin: 2rem;
}
@media only screen and (max-width: 600px) {
  .nav {
    margin: 0;
  }
}
.nav > .nav-header {
  display: inline-block;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #ffffff;
  padding: 0 0 0 6rem;
  /* padding: 10px 10px 10px 10px; */
  /* box-shadow: 0 0 10px rgba(163, 77, 77, 0.716);  */
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  padding: 0 0 0 80vh;
  
  /* gap: 10px; */
  font-size: 18px;
  /* padding: 10px 10px 10px 10px; */
}
@media only screen and (max-width: 960px) {
  .nav > .nav-header > .nav-title {
    font-size: 18px;
    padding: 0.25rem 0 0 0;
  }
  .nav > .nav-links {
    padding: 0 0 0 16rem;
    /* font-size: 10px */
  }
}

.nav > .nav-links > a {
  display: flex;
  flex-direction: wrap;

  justify-content: center;
  /* gap: 6; */
  /* padding: 13px 10px 13px 10px; */
  /* padding-left:30px; */
  /* padding-right:30px; */
  /* margin-left: 30px; */
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff;
}

/* .nav > .nav-links > a:hover {
	background-color: rgba(0, 0, 0, 0.812);
	width: 5rem;
	border-radius: 15px;
  } */
/* @media only screen and (max-width: 600px){
	.nav > .nav-links > a:hover{
		background-color: none;
		width: 0rem;
		border-radius: 15px;
  }
} */

.nav > #nav-check {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #ffffff;
    padding: 0 0 0 2rem;
    /* padding: 10px 10px 10px 10px; */
    /* box-shadow: 0 0 10px rgba(163, 77, 77, 0.716);  */
  }

  .nav > .nav-links {
    display: flex;
    /* float: right; */
    /*   color: #000; */
    padding: 0 0 0 2rem;
    /* gap: 6px; */
    /* space-between: 3px; */
    font-size: 18px;
  }
}

@media (max-width: 680px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #060606;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    text-align: center !important;
    overflow-x: hidden;
  }
  .nav > .nav-links > a {
    display: block;
    /* width: 75%; */
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: auto;
    overflow-y: auto;
    border-radius: 25px;
  }
}

/*==========================================*/

/* Faq */

/*==========================================*/

.faq {
  padding: 75px 0;
  background: #000;
  font-family: 'Genos';
}

.faq-content {
  margin: 0 auto;
  color: #ffffff;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  color: #ffffff;
}

.panel-title {
  font-size: 18px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
  color: #ffffff;
}

.panel-content {
  font-size: 15px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: 2;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  color: #ffffff;
}

.panel:checked ~ .panel-content {
  height: auto;
  opacity: 1;
  padding: 14px;
  color: #ffffff;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 8px;
  z-index: 5;
  font-size: 25px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #ffffff;
}

.panel {
  display: none;
  color: #ffffff;
}

/*==========================================*/

/* Glimpse */

/*==========================================*/

.glimpses-carousel {
  padding: 75px 0;
  position: relative;
  overflow: hidden;
  height: 700px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Genos';
}

@media screen and (max-width: 980px) {
  .glimpses-carousel {
    height: 750px;
  }
}

@media screen and (max-width: 500px) {
  .glimpses-carousel {
    height: 700px;
  }
}

.glimpses__container {
  position: absolute;
  left: 50%;
  margin: 25px 0;
}

.glimpses__container .glimpse {
  position: absolute;
  top: 0;
  width: 500px;
  /* padding: 0 20px; */
  transition: left 0.8s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 980px) {
  .glimpses__container .glimpse {
    width: 425px;
  }
}

@media screen and (max-width: 500px) {
  .glimpses__container .glimpse {
    width: 90vw;
    max-width: 280px;
  }
}

.glimpse .thumb {
  text-align: center;
}

.glimpse .thumb img {
  min-height: 200px;
  max-height: 313px;
}

.glimpse .progress-bar {
  margin: 10px 0;
  height: 5px;
  width: 0;
  background-color: white;
  border-radius: 2.5px;
}

.glimpse--focus {
  left: -250px;
}

@media screen and (max-width: 980px) {
  .glimpse--focus {
    left: -212.5px;
  }
}

@media screen and (max-width: 500px) {
  .glimpse--focus {
    left: -140px;
  }
}

.glimpse--focus .thumb {
  opacity: 1;
}

.glimpse--focus .progress-bar {
  animation: progress 3s linear backwards;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.glimpse--previous {
  left: 370px;
}

@media screen and (max-width: 980px) {
  .glimpse--previous {
    left: 232.5px;
  }
}

@media screen and (max-width: 500px) {
  .glimpse--previous {
    left: 160px;
  }
}

.glimpse--next {
  left: -870px;
}

@media screen and (max-width: 980px) {
  .glimpse--next {
    left: -657.5px;
  }
}

@media screen and (max-width: 500px) {
  .glimpse--next {
    left: -440px;
  }
}

.glimpse--previous .thumb,
.glimpse--next .thumb {
  opacity: 0.7;
}

.glimpse--hidden-left {
  left: -200vw;
  opacity: 0;
}

.glimpse--hidden-right {
  left: 200vw;
  opacity: 0;
}

/*==========================================*/

/* Preloader */

/*==========================================*/

.spinner-wrapper {
  height: 100vh; 
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1500;
}

.spinner {
  background-image: url(../../public/logo.webp);
  background-size: contain; 
  background-repeat: no-repeat; 
  width: 40vmin; 
  height: 40vmin; 
  border-radius: 100%; 
  opacity: 0.8;
  animation: pump 1s infinite alternate;
}
@keyframes pump {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(1.2); /* Scale up */
  }
  100% {
    transform: scale(1); 
  }
}
/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .spinner {
    width: 30vmin; 
    height: 30vmin; 
  }
}


/*==========================================*/

/* Coordinators */

/*==========================================*/

.coordinators {
  padding: 75px 0;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Genos';
}

.coordinators h2 {
  margin-bottom: 25px;
  font-family: 'Genos';
}

.coordinators .member {
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  font-family: 'Genos';
}

.coordinators .member img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  margin: 0 25px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.4);
}

.coordinators .member .detail {
  flex: 1 1 0;
  font-family: 'Genos';
}

.coordinators .member .social-links {
  display: flex;
  flex-flow: row wrap;
  font-size: 22px;
}

.coordinators .social-links a {
  color: #ffffff;
  margin: 3px 7px;
}

.coordinators .social-links a:hover,
.coordinators .social-links a:focus {
  color: #3366bb;
}

.team-btn {
  margin: 25px auto;
  display: flex;
  align-items: center;
  background-color: #fffffff1;
  padding: 10px 30px;
  border: 2px solid #000012;
  border-radius: 10px;
  cursor: pointer;
  color: #000012;
  font-weight: bold;
  letter-spacing: 2px;
  font-style: none;
  /* text-decoration: none; */
  justify-content: center;
  align-items: center;
  font-family: 'Genos';
  align-self: center;
  text-decoration: none;
}

.team-btn:hover,
.team-btn:focus {
  background-color: #1b152ce0;
  color: #fff;
  /* background-color: black;
	color: white; */
  outline: 0;
}
.team-btn-anchor:hover {
  text-decoration: none;
}




/* Fill button styling */

/* Fill button styling */
.fill {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 7px 25px 7px;
  outline: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  /* margin: 0 0 0 75vh; */
  /* width: 20% !important; */
}


.fill::after {
  content: "";
  background-color: #000000b4;
  /* width: 100%; */
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}
/* End of Fill Button  */


.prizes {
	padding: 75px 0;
  font-family: 'Genos';
}

.sub-header {
	font-size: 30px;
	margin-left: 30px;
	margin-bottom: 20px;
	margin-top: 40px;
	color: white;
}

.prizes h2 {
	margin-bottom: 50px;
}

.prizes-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
}

.prize-card {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 55px 15px 15px;
	width: 300px;
	color: white;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.05);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border: 1px solid #ffffff20;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.16);
}

.prize-card:hover {
	box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.16);
}

.prize-card .thumb {
	position: absolute;
	top: -50px;
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.prize-card .drdo-thumb {
	position: absolute;
	top: -80px;
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.prize-card img {
	height: 75px;
}

.prize-content {
	padding: 50px 10px 10px;
	margin: 10px;
	font-size: 14px;
	height: 100%;
	justify-content: space-evenly;
}

.prize-content ul {
	list-style-type: square;
	padding-left: 15px;
}

.prize-content li {
	margin: 5px 0;
}

/* cash price css */
.cash-prize-card {
	position: relative;
	display: flex;
	flex-direction: row;
	margin: 55px 15px 15px;
	width: 300px;
	height: 150px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(255, 255, 255, 0.041);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border: 2px solid #ffffff0e;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.16);
}

.cash-prize-card:hover {
	box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.16);
}

.cash-prize-card .up {
	flex: 1;
	top: -30px;
	left: 20px;
	width: 70px;
	height: 100%;
	margin-bottom: 20%;
	border-radius: 4px;
	background-color: rgb(0, 0, 0);
	text-align: center;
}

.up img {
	width: 25px;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(-50%, -50%);
}

.cash-prize-card .cash-prize-content {
	flex: 2;
	padding-left: 40px;
	padding-top: 20px;
	position: relative;
	padding-bottom: 20px;

}

.title {
	font-weight: bold;
	color: rgba(255, 255, 255, 0.961) !important;
  font-size: 1.5rem;
}

.amount {
	font-size: 20px;
	color: #fbfbfb;
	font-weight: bolder;
	padding-top: 5px;
}

.extra {
	font-size: small;
	color: #ebcee9 !important;
}

.extra-4 {
	font-size: small;
	margin-top: 5px;
	color: #ebcee9 !important;
}
.register-btn {
	margin: auto;
	margin-top: 10px;
	font-weight: 300 !important;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-grad {
	margin: 10px;
	/* padding: 5px; */
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	/* box-shadow: 0 0 5px #eee; */
	border-radius: 10px;
	display: block;
}

.btn-grad:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}
.extraLittleText{
	text-align: center;
	color: plum;
}






.btnHero {
  /* flex: 1 1 auto; */
  width: 18%;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  /* color: white; */
  background-color: transparent;
  box-shadow: 0 0 10px #eeeeeeb9;
  border-radius: 10px;
 }

.btnHero:hover {
  background-position: right center;
}

@media only screen and (max-width: 600px){
  .btnHero {
    width: 50%;
  }
}


.btnHeroHero {
  background-image: linear-gradient(to right, transparent 25%, #9d2b9c 51%, transparent 80%);
}





.student-profile{
  /* padding: 20px; */
  background-color: #000000;
  font-family: 'Genos';
}
.student-profile .card {
  border-radius: 10px;
  font-family: 'Genos';
}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;

}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
  height: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


/*==============ANNOUNCEMENTS=====================*/

.announcementSection{
  background-color: #000;
  padding: 20px;
  margin: 0;
  font-family: 'Genos';
}
.imgAnnouncementLogo {
	width: 100%;
	height: auto;
}

.l-card {
	width: 80%;
	height: auto;
	background: #fafafa;
	/* color: #931e1e; */
	padding: 30px;
  margin: 0 0 0 10%;
	box-shadow: 0px 2px 8px #fafafa;
	border-radius: 20px;
}

.l-card__text p {
	font-size: 26px;
	/* font-family: "Vollkorn", serif; */
	font-weight: 500;
	color: #3f3f55;
	text-align: left;
	word-wrap: break-word;
}

.l-card__text p::after {
	content: "\201D";
	display: inline;
	color: #999;
}

.l-card__text p::before {
	content: "\201C";
	display: inline;
	color: #999;
}

.l-card__user {
	display: flex;
	flex-direction: row;
	padding-bottom: 24px;
/* 	margin-top: 12px; */
	/* border-top: 1px solid #c1c1c1; */
	align-items: center;
}
.l-card__userImage {
	width: 42px;
	height: 42px;
	overflow: hidden;
	border-radius: 50%;
}

.l-card__userImage img {
	width: 100%;
	height: 100%;
	/* object-filter: cover; */
}

.l-card__userInfo {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
}

.l-card__userInfo span:nth-child(1) {
	font-weight: 600;

	/* font-family: sans-serif; */
	font-size: 22px;
	color: #3f3f55;
}
.l-card__userInfo span:nth-child(2) {
	color: #adada6;
	/* font-family: sans-serif; */
	font-size: 12px;
	/* margin-top: 2px; */
}




/* TIMELINE */
.schedule {
	padding: 75px 0 40px 0;
	background-color: #000;
	color: white;
  font-family: 'Genos';
}

.schedule .division {
	margin: 30px 20px;
}

.schedule__container {
	border: 1px solid #eee;
}

.schedule__days {
	background-color: #ffffff;
	padding: 10px 20px;
}

.day-switch {
	background-color: #fff;
	margin: 0 7px;
	padding: 5px 20px;
	border: 2px solid #fff;
	border-radius: 19px;
	cursor: pointer;
	color: #222;
	letter-spacing: 1px;
}

.day-switch.active {
	border: 2px solid #222;
}

.day-switch:hover:not(.active) {
	border: 2px solid #777;
	outline: 0;
}

.schedule__timeline {
	background-color: #fbfbfb;
	padding: 20px 50px 0 50px;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
}

.schedule__timeline-track {
	height: 50px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.schedule__timeline-hour-label,
.schedule__timeline-track-item {
	position: absolute;
	top: 0;
}

.schedule__timeline-track-item {
	padding: 10px 0;
}

.schedule__timeline-track-item:hover,
.schedule__timeline-track-item:focus {
	opacity: 0.7;
	cursor: pointer;
}

.schedule__timeline-track-item h4 {
	word-wrap: break-word;
	/* text-overflow: ellipsis; */
	overflow: hidden;
	font-weight: 300;
	font-size: 14px;
}

.schedule__timeline-hour-label {
	color: rgba(0, 0, 0, 0.7);
	padding: 13px 0;
}

.time-bar {
	position: relative;
	width: 100%;
	margin-top: 4px;
	height: 2px;
}

.time-endpoints {
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 100%;
	top: -3px;
}

.time-endpoints.start {
	left: -4px;
}

.time-endpoints.end {
	right: -4px;
}
