.countdown .content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	gap: 12px;
}

.countdown .box {
	width: calc(100% / 4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.countdown .value {
	font-size: 30px;
	font-weight: 600;
	background-color: #28282B;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	width:50px;
	height: 50px;
	position: relative;
	box-shadow: -2px 0px 5px 1px #232423ad;
}

@media screen and (min-width: 550px) {
	.countdown .content {
		gap: 30px;
	}
	.countdown .value {
		font-size: 40px;
		width: 100px;
		height: 100px;
	}
	.countdown .box {
		height: 100px;
		max-width: 100px;
	}
}